
/* Media Queries */

@media screen and (max-width: 1000px){
    header{
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 910px){
    header{
        justify-content: center;
        justify-items: center;
        grid-template: repeat(3, 1fr) / 100%;
        grid-template-areas: "header-title"
                             "header-tip"
                             "header-nav";
    }
}

@media screen and (max-width: 823px){
    .options-selection{
        grid-template-columns: repeat(4, 1fr);
    }
    .selection-panel select{
        width: 25vw;
    }
}

@media screen and (max-width: 643px){

    .burger-button{
        display: block;
    }

    header{
        grid-template: repeat(2, 1fr) / 100%;
        grid-template-areas:
            "header-title"
            "header-tip";
    }

    .header-nav{
        position: fixed;
        top: 0;
        bottom: 0;
        left: -100vw;
        width: 100vw;
        background: rgba(28,44,55,.8);
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
        padding: 1em 0 1em 0;
        border: none;
    }

    .header-nav.is-active{
        left: 0;
    }

    .header-nav ol{
        grid-auto-flow: initial;
        column-gap: 0.5em;
        text-align: center;
    }

    .hero-text{
        border-top: 2px solid white;
        margin-top: 20px;
    }    
}

@media screen and (max-width: 550px){
    header{
        margin-top: 40px;
    }
}

@media screen and (max-width: 455px){
    .header-title h1{
        font-size: 2.7em;
    }

    .header-title h2{
        font-size: 1.045em;
    }

    .header-tip-title{
        font-size: 1.09em;
    }

    .header-tip p{
        font-size: 0.566em;
    }

    .hero-text{
        margin-bottom: 35px;
    }

    .hero-text p{
        font-size: 1.74em;
    }

    .options-selection{
        grid-template: repeat(6, auto) / 100%;
    }
    
    .selection-team-title{
        grid-column: initial;
        font-size: 1.524em;
    }

    .selection-team-clear-all{
        grid-column: initial;
        font-size: 1.3065em;
        margin-bottom: 20px;
    }

    .selection-panel{
        width: initial;
        font-size: 1.415em;
    }

    .selection-panel select{
        width: 100vw;
    }
}