/*
    Color Background: #1C2E37;
    Color Font: white;
    Color Gray: #A9ABAE;
    Color Ally: #3D85C6;
    Color Enemy: #CC4125;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Abel', sans-serif;
*/

/* Icon Font */

@font-face {
    font-family: 'overwatch-picker';
    src:  url('../fonts/overwatch-picker.eot?ta4nt5');
    src:  url('../fonts/overwatch-picker.eot?ta4nt5#iefix') format('embedded-opentype'),
      url('../fonts/overwatch-picker.ttf?ta4nt5') format('truetype'),
      url('../fonts/overwatch-picker.woff?ta4nt5') format('woff'),
      url('../fonts/overwatch-picker.svg?ta4nt5#overwatch-picker') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'overwatch-picker' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-escort:before {
    content: "\e909";
  }
  .icon-assault:before {
    content: "\e90a";
  }
  .icon-control:before {
    content: "\e90b";
  }
  .icon-hybrid:before {
    content: "\e90c";
  }
  .icon-bronze-icon:before {
    content: "\e901";
  }
  .icon-diamond-icon:before {
    content: "\e902";
  }
  .icon-gold-icon:before {
    content: "\e903";
  }
  .icon-grand-master-icon:before {
    content: "\e904";
  }
  .icon-master-icon:before {
    content: "\e905";
  }
  .icon-platinum-icon:before {
    content: "\e906";
  }
  .icon-silver-icon:before {
    content: "\e907";
  }
  .icon-top-500-icon:before {
    content: "\e908";
  }
  .icon-menu:before {
    content: "\e900";
  }

/* HTML Tags */

body{
    font-family: 'Abel', sans-serif;
    font-weight: normal;
    color: white;
    background-color: #1C2E37;
}

h1{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    margin: 0px;
}

h2{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    margin: 0px;    
}

a{
    color: white;
    text-decoration: none;
}

p{
    font-family: 'Abel', sans-serif;    
}

ol{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

figure{
    margin: 0px;
}

footer{
    margin-top: 50px;
}

/* Class Tags */

.container{
    max-width: 1000px;
    margin: 0px auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

.header-top{
    display: flex;
    justify-content:  space-between;
    padding: 20px 0px 20px 0px;    
    border-bottom: 2px solid white;
    flex-wrap: wrap;
}

.header-title{
    width: 46.2%;
}

.header-title h1{
    font-size: 62px;
    text-transform: uppercase;
    text-align: center;
}

.header-title h2{
    font-size: 24px;
    text-align: right;
    margin-top: -10px;
}

.header-tip{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    color: #A9ABAE;
    width: 43.4%;
}

.header-tip p{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    border-bottom: 2px solid white;
}

.header-tip-title{
    font-size: 25px;
}

.header-nav{
    display: flex;
    justify-content: space-around;
    padding: 20px 0px 40px 0px;
}

.header-nav ol{
    display: flex;
    flex-wrap: wrap;
}

.header-nav li{
    font-family: 'Fjalla One', sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    margin: 0px 10px 0px 10px;
}

.hero-text{
    border-bottom: 2px solid white;
    margin-bottom: 70px;
}

.hero-text p{
    font-family: 'Abel', sans-serif;
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    margin: 0px;
}

.selection-team-title{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

.ally-team{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #3D85C6;
}

.enemy-team{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #CC4125;
}

.selection-team-clear-all{
    font-family: 'Abel', sans-serif;
    font-size: 30px;
    text-align: center;
}

.selection-team-clear-all a{
    text-decoration: underline;
}

.selection-panel{
    font-family: 'Fjalla One', sans-serif;
    font-size: 32.5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    padding-bottom: 30px;
    border-bottom: 2px solid white;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.selection-panel select{
    font-family: 'Abel', sans-serif;
    font-size: 30px;
    background-color: #1C2E37;
    color: white;
    height: 40px;
    /*width: 186px;*/
}


.selection-map select{
    width: 186px;
}

.heroes-selection-title-text{
    font-family: 'Abel', sans-serif;
    font-size: 35px;
}

.teams-composition{
    display: flex;
    justify-content: space-between;    
}

.team-composition{
    display: flex;
    flex-wrap: wrap;
}

.hero-value{    
    font-family: 'Abel', sans-serif;
    font-size: 25px;
    width: 60px;
    text-align: center;
    margin-left: 3px;
    margin-bottom: 3px;
}

.hero-value img{
    width: 60px;
    height: 60px;
}

.hero-value figcaption{
    display: none;    
}

.heroes-filter{
    text-align: left;
}

.heroes-filter input{
    width: 100px;
}

.teams-heroes-selection{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    flex-wrap: wrap;
}

.team-heroes-selection-line-between{
    width:0px;
    height: 556px;
    border-right: 2px solid white;
    align-self: flex-end;
}

.all-rol-selection{
    margin-top: 10px;
}

.rol-selection{
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
    border-bottom: 2px solid white;
    margin-bottom: 5px;
    width: 450px;
}

.rol-selection-support{
    border-bottom: none;
}

.rol-icon{
    display: inline-flex;
}

.rol-icon img{    
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.rol-icon figcaption{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
}

.heroes-rol-selection{
    display: flex;    
    flex-wrap: wrap;
}

.enemy-team-selection{
    display: flex;
    text-align: right;
    flex-direction: column;
    align-items: flex-end;
}

.footer-nav{
    display: flex;
    justify-content: space-around;
    border-top: 2px solid white;
    margin-bottom: 65px;
}

.footer-nav ol{
    display: flex;
    flex-wrap: wrap;
}

.footer-nav li{
    font-size: 25px;
    margin: 0px 15px 0px 15px;
    
}

.footer-title-section{
    display: flex;
    justify-content: space-around;
}

.footer-title h1,
h2{
    font-family: 'Abel', sans-serif;
}

.footer-title h1{
    text-align: center;
    border-bottom: 2px solid white;
}

.footer-title h2{
    text-align: right;
}

.footer-final-line{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Media Queries */

@media screen and (max-width: 923px){

    .hero-text{
        margin-bottom: 2em;
    }

    .team-heroes-selection{
        display: block;
        text-align: center;
    }
    
    .team-composition{
        justify-content: center;
    }
    
    .heroes-filter{
        text-align: center;
    }

    .all-rol-selection{
        display: inline-block;
    }

    .heroes-rol-selection{
        justify-content: center;
    }

    .team-heroes-selection-line-between{
        display: none;
    }

}

@media screen and (max-width: 804px){
    .selection-panel{
        text-align: center;
        display: grid;
        height: auto;
    }
}

@media screen and (max-width: 677px){

    .header-top{
        display: block;
        text-align: center;
    }
    
    .header-title{
        width: auto;
    }
    
    .header-tip{
        width: auto;
    }
    .header-nav ol{
        display: block;
    }
    .header-nav li{
        text-align: center;
    }

    .header-nav{
        padding: 1em 0 1em 0;
    }

    .footer-nav{
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 698px){
    .footer-nav ol{
        display: block;
    }

    .footer-nav li{
        text-align: center;
    }
}

@media screen and (max-width: 462px){
    .header-title h1{
        font-size: 3em;
    }

    .hero-text p{
        font-size: 2em;
    }

    .rol-selection{
        width: auto;
    }
}