# php_flag display_startup_errors on
# php_flag display_errors on
# php_flag html_errors on
<IfModule mod_rewrite.c>
# Active RewriteEngine
RewriteEngine on
RewriteBase /
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

# Rewrite the URL that use the user

#   In:  SECTION
#   Out: index.php?section=SECTION
RewriteRule ^([a-zA-Z0-9-]*)$ index.php?section=$1
</IfModule>