<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7835978513866271"
     crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Find your best composition, counter the enemy comp, and find the best hero for every map in Overwatch">
	<meta name="keywords" content="overwatch, best, heroes, counters, synergies, pick, overpicker, composition, overpick, heropicker, maps, tiers, characters, champions, carry, ranked, attack, defense, builder, build, comp">
    <title>OverPicker{{title}}</title>
    <!--
        All this code is copyright Autopoietico, 2020-2022.
            -This code includes a bit of snippets found on stackoverflow.com and others
        I'm not a javascript expert, I use this project to learn how to code, and how to design web pages, is a funny hobby to do, but if I
        gain something in the process is a plus.
        Feel free to alter this code to your liking, but please do not re-host it, do not profit from it and do not present it as your own.
    -->
    <link href="https://fonts.googleapis.com/css?family=Abel|Fjalla+One|Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css"/>
    <link rel="stylesheet" href="css/media.css"/>
    <link rel="shortcut icon" type="image/png" href="favicon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@autopoietico" />
    <meta property="og:url" content="https://overpicker.win/" />
    <meta property="og:site_name" content="OverPicker" />
    <meta property="og:title" content="Overpicker - Overwatch tool made to build Composition based in Counter and Synergies" />
    <meta property="og:description" content="Find your best composition, counter the enemy comp, and find the best hero for every map in Overwatch." />
    <meta property="og:image" content="https://overpicker.win/public/images/resources/overpicker-front.png" />
    <meta property="og:width" content="927" />
    <meta property="og:height" content="991" />
    <meta property="twitter:title" content="Overpicker - Overwatch tool made to build Composition based in Counter and Synergies" />
    <meta property="twitter:image" content="https://overpicker.win/public/images/resources/overpicker-front.png" />

</head>
<body>
    {# <i class="icon-menu burger-button" id="burger-menu"></i> Hamburguer script not actived because there are not a nav now#}
    <header class="header">
        <div class="header-title noselect">
            <h1><a href="/">OverPicker</a></h1>
            <h2><a href="about">By Autopoietico</a></h2>
        </div>
        <div class="header-tip noselect">
            <p>SPEND MORE TIME FOCUSING ON YOUR SURROUNDINGS, STOP TUNNEL VISIONING INDIVIDUAL HEROES.</p>
            <span class="header-tip-title">Git Gud</span>
        </div>
        <nav class="header-nav">
            <ol>
                <li>
                    <a href="/tiers">Tiers</a>
                </li>
                <li>
                    <a href="/sources">Sources</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                {# <li>
                    <a href="">Counters</a>
                </li>
                <li>
                    <a href="">Maps</a>
                </li>
                <li>
                    <a href="">Heroes</a>
                </li>
                <li>
                    <a href="">Synergies</a>
                </li>#}
            </ol> 
        </nav>
    </header>
    {# <script src="js/hamburger.js"></script> Hamburguer script not actived because there are not a nav now#}
    {% block content %}{% endblock %}
    <footer class="footer">
        <nav class="footer-nav">
            <ol>
                {# <li>
                    <a href="">Counters</a>
                </li>
                <li>
                    <a href="">Maps</a>
                </li>
                <li>
                    <a href="">Heroes</a>
                </li>
                <li>
                    <a href="">Synergies</a>
                </li> #}
                <li>
                    <a href="tiers">Tiers</a>
                </li>
                <li>
                    <a href="sources">Sources</a>
                </li>
                <li>
                    <a href="about">About</a>
                </li>
            </ol>
        </nav>
        <div class="footer-title-section">
            <div class="footer-title">
                <h1><a href="/">Overwatch Picker</a></h1>
                <h2><a href="about">By Autopoietico</a></h2>
            </div>
            </div>
            <span class="footer-final-line-left">Last Update: {{lastUpdate}}</span>
            <span class="footer-final-line-right">(CC){{copy}}</span>
            <div class="footer-social-links">
            <a href="https://discord.gg/PBfMUzz" title="OW Picker Discord" target="_blank" class="social-link"><img src="images/social/discord-brands.svg" alt="Discord Icon"/></a>
            <a href="https://paypal.me/car930" title="OW Picker Discord" target="_blank" class="social-link"><img src="images/social/paypal-brands.svg" alt="Paypal Icon"/></a>
        </div>
    </footer>
    <script>
        {# hamburgerValidation(); Hamburguer script not activated because there are not a nav#}
    </script>
    <noscript>We're sorry, you don't allow javascript, the page don't work correctly</noscript>
</body>
</html>