{% extends "layout.twig" %}

{% block content %}
<section class="hero-section">
    <div class="hero-text sources-text">
        <p>Overpicker is a hero composition calculator inspired in jazzmasta25's <a href="https://www.heropicker.com/">Hero Picker</a></p>
    </div>
</section>
<section class="sources-section">
    <div class="sources-div">
        <h2>Tiers, Map Type, Maps, Counters and Synergies:</h2>
        <p><b><a href="https://www.heropicker.com/">Hero Picker</a></b> was the first source for this picker before, but right now the page has my own data and ideas about interactions in the game.</p>
    </div>
    <div class="sources-div">
        <h2>Tiers:</h2>
        <p>I create a tier list based in the <b><a href="https://www.overbuff.com/heroes">Overbuff</a></b> stats, this tiers are adjusted taking into consideration the win rate and the pick rate.</p>
        <p>I'm trying to have a general tier list make out of my sources, right now I'm using <b><a href="https://www.metabomb.net/overwatch/gameplay-guides/overwatch-tier-list-season-16-june-2019">Metabomb</a></b></p>
    </div>
    <div class="sources-div">
        <h2>Synergies & Counters::</h2>
        <p><b><a href="https://www.youtube.com/playlist?list=PLgRMcvKNkYFyD7RyWlNmvYF0NWcKei5z7">1 Tip for Every Hero Series</a></b> made for KarQ, is a great inspiration to know counters for every hero in the game.</p>
        <p><b><a href="https://www.youtube.com/playlist?list=PLfv7DSFO1b69Kb4vzlakeE5MiGL3UKnSh">Thought Process Series</a></b> made for SVB have great ideas about what heroes are good with others and also help me knowing other counters.</p>
        <p><b><a href="https://docs.google.com/document/d/11_VDsXLCrBwogQLaXgoNNbNel3kQkZ6txfT81H7iau0/edit?usp=sharing">A List on All Existing Compositions in Overwatch</a></b> made for Shielder_OW, is a good summary of many of the game's most important compositions in the game.</p>
        <p><b><a href="https://www.youtube.com/watch?v=WfLzVVsHUGI&list=PLxTGkfX26YAguJHHTDFqwuwqLPzBqKXOh">KarQ Tier Lists</a></b>, KarQ made a lot of informal Tierlist about sinergies and counters that I take in consideration</p>
        <p>I'm also inspired for coaches and game theorycrafters like <b><a href="https://www.youtube.com/c/StormcrowProductions">Spillo</a></b>, <b><a href="https://www.youtube.com/@Kajor1/">Kajor</a></b>, <b><a href="https://www.youtube.com/@YourOverwatch">Freedo</a></b> and others</p>
    </div>
</section>
{% endblock %}