{% extends "layout.twig" %}

{% block content %}
<section class="hero-section">
    <div class="hero-text about-text">
        <p>Overpicker is a hero composition calculator inspired in jazzmasta25's <a href="https://www.heropicker.com/">Hero Picker</a></p>
    </div>
</section>
<section class="about-section">
    <div class="about-div">
        <p>I'm a casual player of overwatch that love stats and things related to best heroes in certain maps, situations, and metas. I'm from Colombia and my natural language is <b>Spanish</b>, but I'm learning <b>English</b> playing Overwatch.</p>
    </div>
    <div class="about-div">
        <h2>Overwatch Experience:</h2>
        <p>I play competitive Overwatch since <b>Season 8</b>, I touch every low rank (even bronze), but now I'm a diamond player and I peak to 3k. I mostly play Tanks and DPS, and my mains are <b>D.Va/Zarya</b> and <b>Ashe/Mei</b></p>
    </div>
    <div class="about-div">
        <h2>Social Links (Mostly in Spanish):</h2>
        <p><a href="https://twitter.com/AutopoieticoLP">Twitter</a></p>
        <p><a href="https://www.youtube.com/user/SrAutopoietico/">Youtube</a></p>
        <p><a href="https://www.instagram.com/autopoietico/">Instagram</a></p>
        <p><a href="https://www.reddit.com/user/autopoietico">Reddit</a></p>
        <p><a href="https://www.twitch.tv/autopoietico">Twitch</a></p>
        <p><b>Battletag:</b> Autopoietico#1428</p>
        <p><b>DiscordTag:</b> Autopoietico#1640</p>
    </div>
    <div>
        <h2>Paypal Email (If You Want to be grateful ;D)</h2>
        <p><b><a href="https://paypal.me/car930">nizampop@gmail.com</a></b></p>
    </div>
</section>
{% endblock %}