{% extends "layout.twig" %}

{% block content %}
<section class="hero-section">
    <div class="hero-text sources-text">
        <p>The OW Picker is mostly based in the <a href="https://www.heropicker.com/">Hero Picker</a> created by jazzmasta25</p>
    </div>
</section>
<section class="sources-section">
    <div class="sources-div">
        <h2>Tiers, Map Type, Maps, Counters and Synergies:</h2>
        <p><b><a href="https://www.heropicker.com/">Hero Picker</a></b> was the first source for this picker before, but right now we have our own data and ideas sources the game.</p>
    </div>
    <div class="sources-div">
        <h2>Tiers:</h2>
        <p>I create a tierlist based in the <b><a href="https://www.overbuff.com/heroes">Overbuff</a></b> stats, are ajusted taking in the consideration the winrate and the pickrate.</p>
        <p>I'm trying to have a general tierlist make out of my sources, right now I'm using <b><a href="https://www.metabomb.net/overwatch/gameplay-guides/overwatch-tier-list-season-16-june-2019">Metabomb</a></b></p>
    </div>
    <div class="sources-div">
        <h2>Synergies & Counters::</h2>
        <p><b><a href="https://www.youtube.com/playlist?list=PLgRMcvKNkYFyD7RyWlNmvYF0NWcKei5z7">1 Tip for Every Hero Series</a></b> made for KarQ is a great inspiration to know counters for every hero in the game.</p>
        <p><b><a href="https://www.youtube.com/playlist?list=PLfv7DSFO1b69Kb4vzlakeE5MiGL3UKnSh">Tought Process Series</a></b> made for SVB have great ideas sources who heroes are good with others and also help me knowing other counters.</p>
    </div>
</section>
{% endblock %}