{% extends "layout.twig" %}

{% block content %}
<section class="hero-section">
    <div class="hero-text error-text">
        <p><b>Error 404</b></p>
        <p>Sorry the page you want to find is in another lunar colony</p>
    </div>
</section>
{% endblock %}