{% extends "layout.twig" %}

{% block content %}
<section class="hero-section">
    <div class="hero-text">
        <p>Find your best composition, counter the enemy comp, and find the best hero for every map in Overwatch</p>
    </div>
</section>
<section class="options-selection">
    <div class="selection-team-title">
        <span class="selection-title-text ally-team">Ally Team</span>
        <span class="selection-title-text">/</span>
        <span class="selection-title-text enemy-team">Enemy Team</span>            
    </div>
    <div class="selection-team-clear-all" id="clear-all-values">
        Clear All
    </div>
    <div class="selection-checkbox-panel">
    </div>
    <span class="selection-panel">
        Tier:
        <select name="tier" id="tier-select"></select>
    </span>
    <span class="selection-map selection-panel">
        Map:
        <select name="map" id="map-select"></select>
    </span>
    <span class="selection-panel">
        Point:
        <select name="point" id="point-select"></select>
    </span>
    <span class="selection-panel">
        A/D:
        <select name="adc" id="adc-select"></select>
    </span>
</section>
<section class="heroes-selection">
</section>
<script src="js/calculator.js"></script>
{% endblock %}