{% extends "layout.twig" %}

{% block content %}
<section class="hero-section">
    <div class="hero-text">
        <p>Find your best composition, counter the enemy comp, and find the best hero for every map in Overwatch</p>
    </div>
</section>
<section class="options-selection">
    <div class="selection-team-title">
        <span class="selection-title-text ally-team">Ally Team</span>
        <span class="selection-title-text">/</span>
        <span class="selection-title-text enemy-team">Enemy Team</span>            
    </div>
    <div class="calculator">
    </div>
</section>
<script defer src="js/calculator.js"></script>
{% endblock %}